# ===== داده‌های حجیم (نباید وارد گیت بشن) =====
data/
elk/elastic-data/

# ===== فایل‌های حساس و رمزها =====
.env
auth/htpasswd.txt
nginx/certs/*.key
nginx/certs/*.crt

# ===== فایل‌های سیستمی/موقت =====
*.log
.DS_Store